@import "./variables";

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

body {
  background: $bg-colour;
  color: $fg-colour;
}

main {
  height: 95%;
  margin: 0 auto;
  width: 95%;
}

canvas {
  height: 100%;
  width: 100%;
}

#tooltip {
  background: lighten($bg-colour, 10%);
  border: 1px solid rgba($fg-colour, 0.25);
  border-radius: 10px;
  left: 0;
  opacity: 0;
  padding: 2px 10px;
  position: absolute;
  top: 0;
}
